body {
	background-color: rgb(9, 227, 212);
	/* Color cycle transitions */
	-webkit-transition: background-color 8s ease-out;
  	-moz-transition: background-color 8s ease-out;
  	-o-transition: background-color 8s ease-out;
  	transition: background-color 8s ease-out;
}

#main-wrapper {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

#join-lobby {
	margin: auto;
	height: 35%;
	width: 16.5%;
	text-align: center;
}

#logo {
	background-image: url("assets/logo.png");
	background-size: 100% 100%;
	height: 45%;
	width: 100%;
}

#game-pin {
	margin-top: 3%;
}

#game-pin > input {
	height: 20%;
	width: 90%;
	font-size: 1.2em;
	font-weight: 800;
	color: rgb(51, 51, 51);
	text-align: center;
	transition: all .2s ease-in;
	border: 0.125rem solid rgb(204, 204, 204);
}

#game-pin > input:focus {
	outline: none;
	border: 0.125rem solid black;
}

#game-pin > input::placeholder, #submit-pin > button {
  	font-family: 'Montserrat', sans-serif;
  	font-weight: 800;
}

#game-pin > input::placeholder {
	color: rgb(173, 173, 173);
}

#submit-pin > button {
	margin-top: 4.5%;
	width: 90%;
	height: 18%;
	background-color: rgb(51, 51, 51);
	color: white;
	outline: none;
	font-size: 1.2em;
	font-weight: 900;
	border-radius: 0.125rem;
	border: hidden;
}

#submit-pin > button:hover {
	cursor: pointer;
}

#submit-pin > button:focus {
	border: 0.125rem solid black;
}

.grecaptcha-badge{
	visibility: collapse !important;  
}

#bottom-text {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	position: fixed;
	width: 100%;
	height: 7%;
	bottom: 0;
	text-align: center;
	color: white;
}

#kashoot-create {
	font-size: 0.875rem;
	line-height: 1.25rem;
}

#terms-privacy {
	padding-top: 0.7%;
	margin: 0px 0px 0.625rem;
	font-size: 0.8125rem;
	line-height: 0.875rem;
}

@media only screen and (max-width: 768px) {
	#join-lobby {
		min-width: 60%;
	}
}

@media only screen and (width: 1024px) {
	#join-lobby {
		min-width: 40%;
	}
}