body {
	background-color: rgb(9, 227, 212);
	/* Color cycle transitions */
	-webkit-transition: background-color 8s ease-out;
  	-moz-transition: background-color 8s ease-out;
  	-o-transition: background-color 8s ease-out;
  	transition: background-color 8s ease-out;
}